* {
  box-sizing: border-box;
}
  
body {
  padding: 0;
  margin: 0;
  font-family: 'Eurostile', 'Arial', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  position: relative;
  background: #181818;
  font-size: 12px;
  font-weight: 500;
  min-width: 320px;
}
