.container {
  width: 100%;
  max-width: 1440px;
  position: relative;
  margin: 0 auto;
  padding: 0 64px;

  @media screen and (max-width: 1280px) {
    & {
      padding: 40px;
    }
  }

  @media screen and (max-width: 1024px) {
    &_info {
      padding: 0 16px;
    }
  }
  
  @media screen and (max-width: 600px) {
    & {
      padding: 0 28px;
    }
    &_info {
      padding: 0px;
    }
  }
  
  @media screen and (max-width: 480px) {
    & {
      padding: 0px;
    }
    &_dex-info {
      padding: 0 28px;
    }
    &_header {
      padding: 0 28px;
    }
  }
}