.info {
    border-top: solid 1px rgba(255, 255, 255, .1);
    border-bottom: solid 1px rgba(255, 255, 255, .1);
}

.info:last-of-type {
    border-top: none;
}

.info__content {
    display: flex;
    padding: 0 18px;
}

@media screen and (max-width: 1024px) {
    .info__content {
        flex-direction: column;
        padding: 0;
    }
}

.info__activated {
    display: flex;
    align-items: flex-start;
    padding: 40px 0 29px;
    border-right: solid 1px rgba(255, 255, 255, .1);
    width: 46%;
}

@media screen and (max-width: 1024px) {
    .info__activated {
        border-bottom: solid 1px rgba(255, 255, 255, .1);
        width: 100%;
        border-right: none;
    }
}

@media screen and (max-width: 393px) {
    .info__activated {
        align-items: center;
        padding: 20px 0;
    }
}

.info__img {
    max-width: 215px;
}

@media screen and (max-width: 393px) {
    .info__img {
        max-width: 185px;
    }
}

@media screen and (max-width: 393px) {
    .info__img {
        max-width: 160px;
    }
}

.info__activated-text {
    padding: 0 64px 0 30px;
}

@media screen and (max-width: 1024px) {
    .info__activated-text {
        padding: 0 34px 0 31px;
    }
}

@media screen and (max-width: 768px) {
    .info__activated-text {
        padding: 0;
        padding-left: 15px;
    }
}

@media screen and (max-width: 768px) {
    .info__activated-text {
        padding-left: 12px;
    }
}

@media screen and (max-width: 320px) {
    .info__activated-text {
        padding-left: 0px;
    }
}

.info__title {
    font-size: 25px;
    font-weight: 900;
    line-height: .9;
    padding-bottom: 32px;
    color: #fff;
    font-family: 'Eurostile Extd';
    padding-top: 10px;
    letter-spacing: 1px;
}

@media screen and (max-width: 1281px) {
    .info__title {
        font-size: 22px;
    }
}

@media screen and (max-width: 1025px) {
    .info__title {
        font-size: 27px;
        letter-spacing: -1px;
    }
}

@media screen and (max-width: 600px) {
    .info__title {
        padding-top: 29px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 320px) {
    .info__title {
        padding-top: 25px;
        font-size: 20px;
    }
}

.info__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.11;
    color: #fff;
    opacity: .4;
    max-width: 310px;
    padding-bottom: 19px;
    letter-spacing: -0.4px;
}

.info_child {
    display: none;
}

@media screen and (max-width: 600px) {
    .info_main {
        display: none;
    }
    .info_child {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .info__travel  {
        padding: 12px 0 70px 16px;
    }
}

.info__pass {
    display: flex;
}

.info__pass-item {
    border-bottom: solid 2px rgba(255, 255, 255, .2);
    margin-right: 2px;
}

.info__pass-place {
    border: none;
    background: transparent;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: .9;
    opacity: .2;
    color: #fff;
    max-width: 27px;
    font-family: 'Eurostile Extd';
}


@media screen and (max-width: 1280px) {
    .info__pass-place  {
        font-size: 18px;
        max-width: 20px;
    }
}

@media screen and (max-width: 1180px) {
    .info__pass-place  {
        font-size: 14px;
        max-width: 17px;
    }
}

@media screen and (max-width: 1024px) {
    .info__pass-place  {
        font-size: 18px;
        max-width: 20px;
    }
}

@media screen and (max-width: 600px) {
    .info__pass-place  {
        font-size: 19px;
        max-width: 21px;
    }
}


.info__pass-place:focus {
    outline: none; 
}

@media screen and (max-width: 600px) {
    .info__item1  {
        border-right: solid 1px rgba(255, 255, 255, .1);
    }
}

@media screen and (max-width: 600px) {
    .info__item2  {
        display: none;
    }
}

.info__item1 { grid-area: item1; }
.info__item2 { grid-area: item2; }
.info__item3 { grid-area: item3; }
.info__item4 { grid-area: item4; }
.info__item5 { grid-area: item5; }
.info__item6 { grid-area: item6; }

.info__data {
    display: grid;
    padding: 48px 59px 50px;
    width: 54%;
    gap: 33px 49px;
    grid-template-columns: 155px 170px 227px;
    grid-template-areas:
    'item1 item3 item5'
    'item2 item4 item6';
}


@media screen and (max-width: 1280px) {
    .info__data {
        padding: 48px 35px 50px;
        gap: 33px 30px;
        grid-template-columns: 155px 170px 175px;
    }
}

@media screen and (max-width: 1280px) {
    .info__data {
        padding: 48px 35px 50px;
        gap: 33px 30px;
        grid-template-columns: 138px 125px 175px;
    }
}

@media screen and (max-width: 600px) {
    .info__data_top {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        'item1 item4'
        'item3 item3'
        'item6 item6'
        'item5 item5';
    }
}

@media screen and (max-width: 600px) {
    .info__data_bottom {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        'item1 item2'
        'item3 item3'
        'item5 item5';
    }
}

@media screen and (max-width: 1025px) {
    .info__data {
        column-gap: 49px;
        padding: 42px 23px 50px;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .info__data {
        padding: 40 0 50px;
    }
}

@media screen and (max-width: 600px) {
    .info__data {
        padding: 0;
        gap: 0px;
    }
}

@media screen and (max-width: 600px) {
    .info__data-item  {
        padding: 10px 16px 17px;
        border-bottom: solid 1px rgba(255, 255, 255, .1);
    }
}

.info__text-name {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    color: #fff;
    opacity: .4;
    display: inline;
}

.info__text-value {
    font-size: 16px;
    line-height: 1.14;
    font-weight: 400;
    color: #fff;
    opacity: .9;
    padding-top: 4px;
}

@media screen and (max-width: 600px) {
    .info__item6 .info__text-value  {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 600px) {
    .info__text-value  {
        max-width: 250px;
    }
}



.info__text-edit {
    color: #00FFF0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    text-decoration: none;
    padding-left: 9px;
}

.info__text-edit::before {
    padding-right: 15px;
    content: "";
    background: url(../../img/edit.svg) no-repeat;
}

.info__text-edit-img {
    position: relative;
    display: inline;
}

.info__text-edit-img::after {
    position: absolute;
    height: 15px;
    width: 15px;
    top: 8px;
    right: -22px;
    content: "";
    background: url(../../img/information.svg) no-repeat;
    cursor: pointer;
    transition: .5s;
}

@media screen and (max-width: 600px) {
    .info__text-edit-img::after  {
        top: -10px;
        right: 0px;
    }
}

.info__text-edit-img:hover::after {
    background: url(../../img/information-active.svg) no-repeat;
}

.info__sell {
    display: flex;
    align-items: center;
    padding-top: 2px;
}

.info__button {
    background-color: #00FFF0;
    color: #000;
    padding: 21px 25px;
    cursor: pointer;
    border: none;
    transition: .3s;
    font-family: 'Eurostile';
    min-width: 141px;
    font-weight: 700;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@media screen and (max-width: 600px) {
    .info__button  {
        padding: 21px;
    }
}

.info__button:hover {
    box-shadow: 0 0 0 5px #00FFF0;
}

.info__price {
    font-weight: 700;
    color: #fff;
    font-size: 16px;
    line-height: 1.25;
    padding-left: 27px;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    .info__price {
        padding-left: 16px;
    }
}