.map {
    max-height: 566px;
    overflow: hidden;
}

.map__img {
    padding-top: 48px;
    margin: 0 auto;
    display: block;
    width: 100%;
}

@media screen and (max-width: 1025px) {
    .map__img {
        padding-top: 32px;
    }
}

@media screen and (max-width: 600px) {
    .map__img {
        object-fit: cover;
        height: 388px;
    }
}