.price {
    padding: 60px 0 142px;
    display: flex;
    align-items: center;

    @media screen and (max-width: 600px) {
        & {
            flex-direction: column;
        }
    }

    &_position_device {
        flex-direction: column;
        padding-top: 270px;
    }

    @media screen and (max-width: 600px) {
        &_position_device {
            padding: 190px 0 96px;
        }
    }

    &__num {
        font-family: Eurostile Extd;
        font-size: 42px;
        font-weight: 500;
        line-height: 1.19;
        color: $whiteColor;
        padding: 0 46px;
    }

    @media screen and (max-width: 600px) {
        &__num {
            font-family: Eurostile Extd;
            font-size: 42px;
            line-height: 50px;
        }
    }

    @media screen and (max-width: 600px) {
        &__num_position_header {
            display: none;
        }
    }

    &__num_position_device {
        display: grid;
        justify-items: center;
        padding: 46px 0 0;
        color: $blueColor;
    }

    @media screen and (max-width: 600px) {
        &__num_position_device {
            padding: 25px 0 0;
        }
    }
    
    &__price-cur {
        font-family: Eurostile;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.11;
        color: $whiteColor;
    }

    &__price-cur_position_device {
        color: $blueColor;
    }
}

 