.road {
    &__content {
        padding-top: 76px;
        display: flex;
        flex-direction: column;
    }

    &__img {
        padding-bottom: 27px;
    }

    @media screen and (max-width: 1000px) {
        &__img  {
            display: none;
        }
    }

    &__text-blocks {
        display: flex;
        justify-content: space-between;
    }

    @media screen and (max-width: 1000px) {
        &__text-blocks  {
            flex-direction: column;
            max-width: 100%;
        }
    }

    &__icon {
        display: none;
    }

    @media screen and (max-width: 1000px) {
        &__icon {
            display: block;
        }
    } 
}