.service {
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-around;
        //background: no-repeat left/571px url(../../images/service.png);
    }

    @media screen and (max-width: 600px) {
        &__content  {
            flex-direction: column;
            &_reverse {
                flex-direction: column-reverse;
            }
        }
    }
    
    &__img {
        max-width: 50%;
    }

    @media screen and (max-width: 600px) {
        &__img  {
            flex-direction: column;
            max-width: 100%;
        }
    }

    
}