.text-block {
    display: grid;
    height: 100%;

    &_item1 { grid-area: item1; }
    &_item2 { grid-area: item2; }
    &_item3 { grid-area: item3; }
    &_item4 { grid-area: item4; }

    &_position_dex-info {
        grid-template-areas:
        'item1 item2'
        '. item3';
    }

    @media screen and (max-width: 600px) {
        &_position_dex-info {
            grid-template-areas:
                'item1 item2'
                'item3 item3';
            }
    }

    &_position_stage {
        display: flex;
        flex-direction: column;
        max-width: 330px;
    }

    @media screen and (max-width: 1120px) {
        &_position_stage {
            max-width: 300px;
        }
    }

    @media screen and (max-width: 1000px) {
        &_position_stage {
            display: grid;
            grid-template-areas:
                'item1 item2'
                'item3 item3';
            max-width: 100%;
            grid-template-columns: 50px 1fr;
            }
    }

    &_position_vs {
        grid-template-areas:
        'item1 item3'
        'item2 item3';
    }

    @media screen and (max-width: 600px) {
        &_position_vs {
            grid-template-areas:
            'item1 item3'
            'item2 item2';
            align-items: center;
            row-gap: 19px;
            justify-items: end;
        }
    }

    @media screen and (max-width: 600px) {
        &_position_device {
            padding-top: 64px;
        }
    }

    &__title {
        font-size: 26px;
        font-weight: 900;
        line-height: 29px;
        padding-bottom: 14px;
    }

    @media screen and (max-width: 600px) {
        &__title {
            padding-bottom: 11px;
        }
    }

    &__title_position_service {
        padding-bottom: 24px;
    }

    &__subtitle {
        padding-bottom: 44px;
    }

    &__text {
        font-family: Eurostile;
        font-size: 17px;
        font-weight: 400;
        line-height: 20px;
        color: $whiteColor;
        opacity: .5;
    }

    @media screen and (max-width: 600px) {
        &__text {
            font-size: 16px;
            line-height: 19px;
        }
    }

    &_opacity_90 {
        opacity: .9;
    }

    &_position_device {
        max-width: 326px;
    }

    &__list-num {
        font-size: 26px;
        font-weight: 900;
        line-height: 29px;
        color: $blueColor;
        padding-right: 23px;
    }

    &__list-num_position_stage {
        padding: 0 0 28px;
    }

    &__list-num_position_road {
        font-size: 20px;
        font-weight: 500;
        line-height: 26px;
    }

    @media screen and (max-width: 1000px) {
        &__title_position_road {
            padding-bottom: 6px;
        }
    }

    &_position_road {
        flex-direction: column;
    }

    &__list-icon {
        max-height: 30px;
        padding-right: 23px;
    }

    @media screen and (max-width: 1000px) {
        &_position_road {
            grid-template-areas:
                '. item2'
                'item1 item3'
                '. item4';
            max-width: 100%;
            grid-template-columns: 50px 1fr;
            }
    }
}